<md-sidenav class="md-sidenav-left md-whiteframe-z2 anim-left2right" animate md-component-id="siteNav" md-is-locked-open="$mdMedia('gt-md')">
  <div class="profile-are" layout="column" layout-align="end">
    <md-button class="profile-button">
      {{user.name}}
      <ng-md-icon icon="expand_more" style="fill: white" size="28"></ng-md-icon>
    </md-button>
  </div>
  <md-content flex>
    <ul class="nav-menu" flex>
      <li ng-repeat="menu in ::staticMenus" flex>
        <md-button ng-if="isLink(menu)" ui-sref="{{::menu.state}}" ng-click="close()">{{::menu.name}}</md-button>
      </li>
      <md-divider></md-divider>
      <li ng-repeat="menu in dynamicMenus" flex>
        <div ng-if="isLink(menu)">
          <md-button ui-sref="{{::menu.state}}" class="anim-right-slide" ng-click="close()">{{::menu.name}}</md-button>
        </div>
        <div ng-show="isToggleMenu(menu)">
          <md-button ng-click="toggleMenu($event, menu)" class="anim-right-slide">
            {{::menu.name}}
            <ng-md-icon icon="{{setIcon(menu)}}" style="fill: grey" size="30"></ng-md-icon>
          </md-button>
          <ul class="nav-sabmenu" ng-show="menu.opened">
            <li ng-repeat="item in menu.items" class="anim-right-slide" flex>
              <md-button ui-sref="{{::item.state}}" ng-click="close()">{{item.name}}</md-button>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </md-content>
</md-sidenav>
