baseColor = #444
baseBgColor = #EEE

cardColor = white

html, body
  margin 0px
  font-family Verdana,  "游ゴシック",  YuGothic,  "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif
  // font-size 16px
  background-color baseBgColor
  color baseColor
  overflow hidden

md-card-content
  padding 10px

md-dialog .md-subheader.dialog-header
  background-color transparent
  color rgba(255, 255, 255, 0.87)
  text-align center

md-list-item
  position relative

md-chips[readonly='true'] md-chips-wrap
  cursor inherit

ng-md-icon.size-32 svg
  vertical-align -10px

ng-md-icon.size-42 svg
  vertical-align -15px

[ui-view]
  width 100%
  height 100%

.card
  background-color cardColor

.bg-none
  background-color transparent !important

.fab-box-2x
  width 100%
  height 60px

.tac
  text-align center

.m0
  margin 0px

.scroll
  overflow auto

.no-border, md-chips.no-border md-chips-wrap.md-chips
  padding-bottom 0px
  box-shadow none
  border noen
