button.menu-button
  margin-right 16px

button.main-content-fab
  position fixed
  top 79px
  right 5px

.main-content
  padding 0px 0px

.main-content .title
  margin-bottom 5px
  margin-left 16px

h2.md-subheader
  margin 0px

.md-subheader:not(.md-sticky-no-effect):after
  right 0px

.sub-toolbar
  min-height 48px
  .md-toolbar-tools
    height 48px
    min-height 48px
    font-size 16px
    white-space nowrap
    text-overflow ellipsis

::-webkit-scrollbar
  display none
