<md-content layout="column" layout-align-gt-sm="center center" class="bg-none" flex>
  <md-card class="card card-login m0" flex-sm>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 flex="100" class="tac">{{'LOGIN.TITLE' | translate}}</h2>
      </div>
    </md-toolbar>
      <form ng-submit="loginForm.$invalid ? null : submit()" name="loginForm" novalidate layout="column" layout-margin flex>
        <md-input-container>
          <label>{{'LOGIN.INPUT.ID.LABEL' | translate}}</label>
          <input ng-model="user.id" type="text" name="id" required maxlength="15">
        </md-input-container>
        <md-input-container>
          <label>{{'LOGIN.INPUT.PASSWORD.LABEL' | translate}}</label>
          <input ng-model="user.password" type="password" name="password" required maxlength="20" app-validators="validators.failledAuth">
          <div ng-messages="loginForm.password.$error">
            <div ng-message="failledAuth">{{'LOGIN.INPUT.PASSWORD.VALIDATION.FAILLED_AUTH' | translate}}</div>
          </div>
        </md-input-container>
        <div flex layout="column" layout-align="end end">
          <md-button ng-show="loginForm.$valid" type="submit" class="md-fab anim-pop" aria-label="login">
            <ng-md-icon icon="input" style="fill: white" size="30"></ng-md-icon>
          </md-button>
        </div>
      </form>
  </md-card>

  <md-button ng-click="showNewAccountDialog($event)" class="md-accent md-hue-3">{{ 'LOGIN.ACCOUNT.ACTION' | translate }}</md-button>
</md-content>
