<md-dialog aria-label="{{ 'CHAT.ROOM.TITLE' | translate }}" flex>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools" layout layout-align="center">
      <md-subheader class="md-sticky-no-effect dialog-header">ルーム作成</md-subheader>
    </div>
  </md-toolbar>
  <md-content layout="culumn">
    <div class="dialog-container" flex>
      <form ng-submit="newRoomForm.$invalid ? null : submit()" name="newRoomForm" novalidate>
        <md-input-container flex>
          <label>ルーム名</label>
          <input ng-model="room.name" type="text" name="name" required maxlength="15">
          <div ng-messages="newRoomForm.name.$error">
            <div ng-message="required">{{'VALIDATION.REQUIRE' | translate}}</div>
            <div ng-message="maxlength">{{'VALIDATION.MAXLENGTH.15' | translate}}</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>ルーム説明</label>
          <textarea ng-model="room.description" name="description" rows="4" maxlength="200"></textarea>
          <div ng-messages="newRoomForm.description.$error">
            <div ng-message="maxlength">{{'VALIDATION.MAXLENGTH.200' | translate}}</div>
          </div>
        </md-input-container>
        <div layout layout-align="end center" class="fab-box-2x">
          <md-button ng-show="newRoomForm.$valid" type="submit" class="md-fab anim-pop ng-hide" aria-label="regist">
            <ng-md-icon icon="done" style="fill: white" size="30"></ng-md-icon>
          </md-button>
        </div>
      </form>
    </div>
  </md-content>
</md-dialog>
