<md-dialog aria-label="profile-dialog" class="full-dialog bg-back" flex>
  <md-toolbar ng-class="{'md-tall': !screenIsOverlap()}">
    <div class="md-toolbar-tools" layout="row" flex>
      <h3 layout flex layout-align="center">プロフィール</h3>
      <md-button class="md-icon-button left-action" ng-click="cancel()" aria-label="closeProfile">
        <ng-md-icon icon="close" style="fill: rgba(255, 255, 255, 0.87)" class="size-32" size="32"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card ng-class="{'overlap': !screenIsOverlap()}" flex-md flex-sm>
    <form ng-submit="accountForm.$invalid ? null : submit()" name="accountForm" novalidate layout="column">
      <div class="dialog-container scroll" layout-margin>
        <div layout layout-sm="column">
          <div layout layout-align="center center" ngf-drop ngf-select ng-model="avator" ngf-drag-over-class="dragover-file" class="drop-box" ngf-allow-dir="true" ngf-accept="'image/*'" flex>
            <img ng-if="avator.length > 0" ngf-src="avator[0]" class="avator">
            <img ng-if="avator == null || avator.length == 0" ng-src="{{user.avator.path}}" class="avator">
          </div>
          <md-input-container flex layout-margin>
            <label>{{'LOGIN.ACCOUNT.INPUT.ID.LABEL' | translate}}</label>
            <input ng-model="user.id" type="text" name="id" disabled>
          </md-input-container>
        </div>
        <md-input-container flex layout-margin>
          <label>{{'LOGIN.ACCOUNT.INPUT.NAME.LABEL' | translate}}</label>
          <input ng-model="user.name" type="text" name="name" required maxlength="12">
          <div ng-messages="accountForm.name.$error">
            <div ng-message="required">{{'VALIDATION.REQUIRE' | translate}}</div>
            <div ng-message="maxlength">{{'VALIDATION.MAXLENGTH.12' | translate}}</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>{{'LOGIN.ACCOUNT.INPUT.EMAIL.LABEL' | translate}}</label>
          <input ng-model="user.email" type="email" name="email" maxlength="50">
          <div ng-messages="accountForm.email.$error">
            <div ng-message="maxlength">{{'VALIDATION.MAXLENGTH.50' | translate}}</div>
            <div ng-message="email">{{'VALIDATION.INVALID.EMAIL' | translate}}</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>{{'LOGIN.ACCOUNT.INPUT.PASSWORD.LABEL' | translate}}</label>
          <input ng-model="user.password" type="password" name="password" maxlength="20" minlength="6" ng-pattern="/^[a-zA-Z0-9-/:-@\[-\`\{-\~]+$/">
          <div ng-messages="accountForm.password.$error">
            <div ng-message="maxlength">{{'VALIDATION.MAXLENGTH.20' | translate}}</div>
            <div ng-message="minlength">{{'VALIDATION.MINLENGTH.6' | translate}}</div>
            <div ng-message="pattern">{{'VALIDATION.INVALID.ALPHANUMSYM' | translate}}</div>
            <div ng-show="!accountForm.password.$dirty" class="help-message">変更する場合は入力してください</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>{{'LOGIN.ACCOUNT.INPUT.CONF.LABEL' | translate}}</label>
          <input ng-model="conf" type="password" name="conf" app-validators="validators.password_confirm">
          <div ng-messages="accountForm.conf.$error">
            <div ng-message="confirm">{{'LOGIN.ACCOUNT.INPUT.CONF.VALIDATION.INVALID' | translate}}</div>
          </div>
        </md-input-container>
        <div layout layout-align="end center">
          <md-button type="submit" class="md-raised md-accent anim-pop" animate aria-label="editProfile">保存</md-button>
        </div>
      </div>
    </form>
  </md-card>
</md-dialog>
