<md-button type="button" ng-click="showNewRoomDialog($event)" class="md-fab main-content-fab anim-pop" animate aria-label="addRoom">
  <ng-md-icon icon="add" style="fill: white" class="size-42" size="42"></ng-md-icon>
</md-button>
<md-content layout="column" flex>
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <h2>ルーム一覧</h2>
    </div>
  </md-toolbar>
  <md-content class="main-content">
    <div ng-if="rooms.length === 0">
      <h3 class="title">ルームが存在しません</h3>
      <md-subheader class="md-primary md-no-sticky">新規ルームを作成してください</md-subheader>
    </div>
    <div ng-if="rooms.length > 0">
      <h3 class="title">{{rooms.length}}ルーム見つかりました</h3>
      <md-subheader class="md-primary">入室するルームを選択してください</md-subheader>
    </div>
    <section class="container">
      <md-list>
        <md-list-item ng-repeat="room in rooms" class="md-3-line" ng-click="showDetailRoom($event)">
          <div class="anim-right2left" animate>
            <div class="md-list-item-text" style="position: relative">
              <h3>{{room.name}}</h3>
              <p>{{room.description}}</p>
              <md-chips ng-model="room.users" readonly="true" class="no-border">
                <md-chip-template>
                  <span>{{$chip.user.name}}</span>
                </md-chip-template>
              </md-chips>
              <md-switch class="md-secondary md-warn"></md-switch>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </div>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
</md-content>
