<my-top-nav layout class="site-side-nav">
</my-top-nav>
<div layout="column" flex>
  <md-toolbar class="anim-top2down" animate>
    <div class="md-toolbar-tools">
      <md-button ng-click="sideNavToggle()" class="md-icon-button menu-button" hide-gt-md aria-label="SideNav">
        <ng-md-icon icon="menu" style="fill: white" size="30"></ng-md-icon>
      </md-button>
      <h2>
        <span content-title></span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <section ui-view flex></section>
</div>
