side-nav-width = 256px

allWidth(width) {
  width width
  min-width width
  max-width width
}

my-top-nav.site-side-nav
  md-sidenav
    allWidth(side-nav-width)

my-top-nav
  .profile-are
    // height 112px
    // background-image url("/assets/images/vintage-phonograph-background.png")
    // background-size cover
  .profile-button
    text-transform none
    color white
    font-size 16px
    height 48px
    text-align left
    margin 0
    padding 0px 16px

    .avator
      vertical-align middle

    ng-md-icon
      position absolute
      top 18%
      right 16px

.nav-menu.profile-menu
  background-color rgba(158, 158, 158, 0.2)

.nav-menu
  list-style none
  padding 0
  margin 0

  .md-button
    cursor pointer
    display block
    line-height 40px
    margin 0
    max-height 40px
    padding 0px 16px
    text-align left
    text-decoration none
    white-space normal
    width 100%
    font-size 16px
    text-transform none

  ng-md-icon
    position absolute
    top 13%
    right 16px

  .nav-sabmenu
    padding 0

    &.open
      animation toggle-menu-open 500ms ease
    &.close
      animation toggle-menu-close 500ms ease

    .md-button
      padding 0px 16px 0px 32px
      font-size 14px
